services:
  web:
    build:
      context: .
      dockerfile: Dockerfile.dev
    network_mode: host
    volumes:
      - .:/app
      - /app/node_modules
      - .next:/app/.next
    environment:
      - NODE_ENV=development
      - PORT=3001
      - HOSTNAME=0.0.0.0
      - NEXT_PUBLIC_TMDB_API_KEY
      - NEXT_PUBLIC_TMDB_API_READ_ACCESS_TOKEN
      - NEXT_PUBLIC_BACKEND_URL=http://localhost:3000
      - NEXT_PUBLIC_FRONTEND_URL=http://localhost:3001
    stdin_open: true
    tty: true
